<ion-view title="Login">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form ng-submit="tryLogin()">
      <div class="list">
        <!--
        -->
        <label class="item item-input">
          <input type="text" placeholder="Phone" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
        <p>{{message}}</p>
        <button class="button button-block button-positive" type="submit">Login</button>

        <div style="text-align: center">
          Or <a ng-show="false" href="#/signup">Create an account</a>
        </div>
      </div>
    </form>

      <button class="button button-block button-positive" ng-click="signUp()">Create Account</button>
  </ion-content>
</ion-view>
