<ion-view title="My Business">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">
      <form ng-submit="saveProfile()">
          <div class="list">
              <div class="item item-avatar">
                  <img ng-src="{{person.imageFile.url || 'img/person.png'}}">
                  <b>{{person.first}} {{person.last}}</b>
                  <p>{{person.objectId}}</p>
              </div>

              <label class="item item-input">
                  <input type="text" placeholder="First Name" ng-model="person.first">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Last Name" ng-model="person.last">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Phone" ng-model="user.phone">
              </label>
              <label class="item item-input">
                  <input type="text" placeholder="Email" ng-model="user.email">
              </label>

              <ion-toggle ng-model="user.owner">Do you own a business</ion-toggle>

              <button class="button button-block button-positive" type="submit">Save</button>

        <pre ng-show="DEBUG">{{user|json}}
        </pre>
          </div>
      </form>

      <form ng-submit="save()">
      <div class="list" ng-show="user.owner">
        <!--
        -->
        <div class="item item-avatar">
          <img ng-src="{{item.imageFile.url || 'img/business.png'}}">
          <b>{{item.name}}</b>
          <p>{{item.city}}, {{item.state}}</p>
        </div>

        <label class="item item-input">
          <input type="text" placeholder="Business Name" ng-model="item.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Publish Phone" ng-model="item.publicPhone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Phone" ng-model="item.phone">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Address" ng-model="item.address">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="City" ng-model="item.city">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="State" ng-model="item.state">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Zip Code" ng-model="item.zip_code">
        </label>
        <!--<label class="item item-input">-->
          <!--<input type="password" placeholder="Password" ng-model="loginData.password">-->
        <!--</label>-->

        <ion-toggle ng-model="item.auto_approve">Automatically Approve</ion-toggle>
        <ion-toggle ng-model="item.unlisted">Unlist</ion-toggle>

        <button class="button button-block button-positive" type="submit">Save</button>

        <pre ng-show="DEBUG">{{item|json}}
        </pre>
      </div>
    </form>
  </ion-content>
</ion-view>
