<ion-view title="Friend's Favorites">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-show="debug" class="button button-icon">Remove</button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">

      <div class="item item-avatar">
          <img ng-src="{{item.imageFile.url || 'img/person.png'}}">
          <b>{{item.first}} {{item.last}}</b>
          <p>{{item.updatedAt}}</p>
      </div>

      <a ng-href="#/app/favorite/{{item.objectId}}"><button class="button button-positive button-block">Favorite Businesses</button></a>
      <a ng-href="#/app/message/per-{{chat()}}"><button class="button button-positive button-block">Direct Chat</button></a>
      <button ng-show="businessIdToRefer" ng-click="refer()" class="button button-positive button-block">Refer to {{businessIdToRefer}}</button>

      <p>{{item_ | json}}</p>
  </ion-content>
</ion-view>
